
<html>
    <head>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title> StuBooks</title>
        <link href= "/styles/style.css" rel= "stylesheet" type="text/css"/>
    </head> 
    <body>
      <a class="logo" href="/"> <img src="/images/Logo.png"/> </a> 
 
        <!--Code for Navigation Bar-->
        <div id= "nav">
                <div class="topmenu">
                        
                        <a href="/about"> About Us</a>
                        <a href="/contact">Contact Us</a>
                   
                   
                    <div class="dropdown">
                    <a class="dropa" href="#">Courses
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <div class= dropdownlist>
                        <ul>
                            <li><a href="/coursesEIC"> School of Engineering and Information Sciences </a></li>
            
                        </ul>
                    </div>
                    </div>
                    <a href="/guest">Guest Book</a>  
                    <a href="/faqs">FAQ's</a> 
                    {% if session ['logged_in']== True %}
                    <a href="/logout">Logout</a>
                    {% else %}
                    <a href="/login">Login/Sign Up</a> 
                    {% endif %}
                  <a class="loginname">
                    {% for entry1 in rv %}
                        Hi {{entry1 [0]}}
                       {% endfor %}
                </a>
                    <a href="javascript:void(0);" class="icon" onclick="resp()"> <i class="fa fa-bars"></i>  </a> 
                </div> 
            </div>
        <!--End of Navigation Bar-->
 
    <script>
        function resp() {
     var x = document.getElementById("nav");
     if (x.className === "topmenu") {
         x.className += " responsive";
     } else {
         x.className = "topmenu";
     }
 }
    </script>
        <!--End of Navigation Bar-->

  <!--Start IT code-->
  <div class= "courseIT">
        <div class= "form">

            <ul class="modulesIT"> 
                {% for entry in entries %}   
            
            <p> <a href="{{entry [0]}}"> {{entry [1]}} </a> </p>
                  
          {% endfor %}
          <p class="linkITb"><a href="#">Back to Courses</a> </p>
            </ul>   

           <ul class="nameIT">
                <p class="linkITa"> <a href="#"> Bsc. Information Technology</a></p>
           </ul>

        </div>
       </div>

       <script src='https://code.jquery.com/jquery-3.2.1.min.js'>
       </script>

       <script>
           $('.linkITa').click(function(){
        $(".courseBIS").hide();
            $('ul').animate({
                width:['toggle','swing'],
                height: ['toggle','swing'],
                 opacity: "toggle"},"slow");
           });

            $('.linkITb').click(function(){
        $(".courseBIS").show();
            $('ul').animate({
                width:['toggle','swing'],
                height: ['toggle','swing'],
                 opacity: "toggle"},"slow");
           });
       </script>
       <!--End IT code-->

        <!--Start BIS code-->
  <div class= "courseBIS">
        <div class= "form">

            <ol class="modulesBIS">
                {% for entry1 in entries1 %}

                    <p><a href="{{entry1 [0]}}">{{entry1 [1]}}</a></p>
                {% endfor %}
                      
         <p class="linkBISa"><a href="#">Back to Courses</a> </p>

          
            </ol>   

           <ol class="nameBIS">
                <p class="linkBISb"> <a href="#"> Bsc. Business Information Systems</a></p>
           </ol>

        </div>
       </div>

       <script src='https://code.jquery.com/jquery-3.2.1.min.js'>
       </script>

       <script>
           $('.linkBISa').click(function(){
            $(".courseIT").show();
            $('ol').animate({
                width:['toggle','swing'],
                height: ['toggle','swing'],
                 opacity: "toggle"},"slow");
           });

            $('.linkBISb').click(function(){
            $(".courseIT").hide();
            $('ol').animate({
                width:['toggle','swing'],
                height: ['toggle','swing'],
                 opacity: "toggle"},"slow");
           });
       </script>
       <!--End BIS code-->


     
   </body>
 </html>
 
 